-provide(:subtitle,I18n.t('views.simulators.show.title'))

#simulators_index
  %section
    .row
      .col
        %h1=I18n.t('views.simulators.show.title')
  =render 'shared/custom_announcements_table'

