%table.table.table-striped{id: id, 'data-source': source }
  %thead
    %tr
      %th=I18n.t('general.id')
      %th=I18n.t('activerecord.attributes.smart_validator_db.announcement.asn')
      %th=I18n.t('activerecord.attributes.smart_validator_db.announcement.prefix')
  %tbody