-provide(:subtitle,I18n.t('views.pages.index.title', platform: Rails.configuration.global[:platform][:name]))

#pages_index
  %section.content-header
    .row
      .col-6
        %h1=I18n.t('views.pages.index.title', platform: Rails.configuration.global[:platform][:name])
      .col-6.text-right
        .fa.fa-server
        %span Router status
        %br
        .badge.badge-pill.bg-green 1 online
        .badge.badge-pill.bg-red 0 offline
  -if current_user
    =render 'pages/index/status_boxes'
    %section.content
      .row
        .col-12.col-lg-6
          =render 'shared/white_box', title: 'Conflicts' do
            .row
              .col
                %canvas#conflict-status-chart{'data-load-path' => conflict_status_graph_path(format: :json)}
        .col-12.col-lg-6
          =render 'shared/white_box', title: 'General BGP announcements status' do
            .row
              .col
                %canvas#bgp-status-chart{'data-load-path' => bgp_status_graph_path(format: :json)}
        .col-12.col-lg-6
          =render 'shared/white_box', title: 'Conflict detection timeline' do
            .row
              .col
                %canvas#timeline-conflicts-chart{'data-load-path' => timeline_conflicts_graph_path(format: :json)}
        .col-12.col-lg-6
          =render 'shared/white_box', title: 'Current route original authorization certificate' do
            .row
              .col
                %canvas#payload-roas-chart{'data-load-path' => payload_roas_graph_path(format: :json)}
