-provide(:subtitle,I18n.t('views.payload_roas.index.title'))

#payload_roas_index
  %section
    .row
      .col
        %h1=I18n.t('views.payload_roas.index.title')
  %section
    .row
      .col.text-right
        %table#payload-roas.table.table-striped{'data-source': smart_validator_db_payload_roas_path(format: :json)}
          %thead
            %tr
              %th=I18n.t('general.id')
              %th=I18n.t('activerecord.attributes.smart_validator_db.payload_roa.asn')
              %th=I18n.t('activerecord.attributes.smart_validator_db.payload_roa.prefix')
              %th=I18n.t('activerecord.attributes.smart_validator_db.payload_roa.max_length')
              %th=I18n.t('activerecord.attributes.smart_validator_db.payload_roa.filtered')
              %th=I18n.t('activerecord.attributes.smart_validator_db.payload_roa.whitelisted')
              %th
          %tbody
