!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title=I18n.t('views.errors.internal_server_error.title')
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      body {
        background-color: #EFEFEF;
        text-align: center;
        font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
      }
  %body
    %h1 500 #{I18n.t('views.errors.internal_server_error.title')}
    %h4=I18n.t('views.errors.general.sorry', :email => Rails.configuration.global[:platform][:contact_email])
