%section.content
  .row
    .col-12.col-lg-3
      .small-box.bg-green
        .inner
          %h3=@status_boxes[:is_valid][:count]
        .icon
          %i.fa.fa-check-square
        .small-box-footer
          Valid
    .col-12.col-lg-3
      .small-box.bg-red
        .inner
          %h3=@status_boxes[:invalid_asn][:count]
        .icon
          %i.fa.fa-ban
        .small-box-footer
          Invalid ASN
    .col-12.col-lg-3
      .small-box.bg-red
        .inner
          %h3=@status_boxes[:invalid_length][:count]
        .icon
          %i.fa.fa-ban
        .small-box-footer
          Invalid length
    .col-12.col-lg-3
      .small-box.bg-yellow
        .inner
          %h3=@status_boxes[:unknown][:count]
        .icon
          %i.fa.fa-question-circle
        .small-box-footer
          Unknown
