-provide(:subtitle,I18n.t('views.self_overview.show.title'))

#self_overview_index
  %section
    .row
      .col
        %h1=I18n.t('views.self_overview.show.title')
  =render 'shared/custom_announcements_table'
