-provide(:subtitle,I18n.t('views.self_overview.show.title'))

#self_overview_index
  %section
    .row
      .col
        %h1=I18n.t('views.self_overview.show.title')
  .row
    .col.text-right.margin-bottom-2
      %button#add-watched-prefix-button.btn.btn-primary{'data-new-path' => new_watched_prefix_path, 'data-create-path' => watched_prefixes_path, 'data-modal-title' => I18n.t('views.self_overview.show.add_prefix'), 'data-modal-success' => I18n.t('views.self_overview.show.success')}
        =I18n.t('views.self_overview.show.add_prefix')
  %section
    .row
      .col
        %table#user-announcements.table.table-striped{'data-source': smart_validator_db_user_announcements_path(format: :json)}
          %thead
            %tr
              %th=I18n.t('general.id')
              %th=I18n.t('activerecord.attributes.smart_validator_db.announcement.asn')
              %th=I18n.t('activerecord.attributes.smart_validator_db.announcement.prefix')
              %th=I18n.t('activerecord.attributes.smart_validator_db.custom_announcement.blocking_status')
          %tbody


