@import "variables";

.main-header .logo {
  min-height: 70px;
}

.sidebar {
  padding-top: 30px;
}

.logo-lg {
  padding-top: 10px;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

.box.box-info {
  border-top-color: #3c8dbc;
}