@import "variables";

body {
  font-family: LatoRegular, Helvetica, sans-serif;
}

.margin-bottom-05 {
  margin-bottom: 0.5em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.margin-bottom-2 {
  margin-bottom: 2em;
}

.margin-top-1 {
  margin-top: 1em;
}

.padding-top-1 {
  padding-top: 1em;
}
.margin-top-2 {
  margin-top: 2em;
}

.height-10 {
  height: 10em;
}
