
.cssTheme {
  background-image: none !important;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 1em;
}

.noty_container_type_danger,
.noty_container_type_error {
  color: #fff;
  background-color: #a00 !important;
  border: 1px solid #a00 !important;
}

.noty_container_type_success,
.noty_container_type_notification {
  color: #fff;
  background-color: #5293D1 !important;
  border: 1px solid #fff !important;
}


