
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/Montserrat-SemiBold.ttf') format('truetype');
}

/* ---------------------------------------------- */
/* Bootstrap overwriting */

/* We need the breakpoints here, but because we're using
   the compiled bootstrap version, we don't have access here.
   Therefore, we define the breakpoints here.
   The "original" definition can be found in the _variables.scss
   file in the Bootstrap directory. */
$grid-breakpoints: (
        xs: 0,
        sm: 544px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);
