%nav.navbar.navbar-expand-lg.navbar-light
  %a.navbar-brand{:href => "/"}=Rails.configuration.global[:platform][:name]
  %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo02", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo02", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarTogglerDemo02.collapse.navbar-collapse.pull-right
    -if current_user
      %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        %li.nav-item
          %a.nav-link{:href => simulator_path}
            =I18n.t('views.simulators.show.title')
        %li.nav-item
          %a.nav-link{:href => conflicts_path}
            =I18n.t('views.conflicts.index.title')
        %li.nav-item
          %a.nav-link{:href => data_sources_path}
            =I18n.t('views.data_sources.index.title')
        %li.nav-item
          %a.nav-link{:href => router_status_path}
            =I18n.t('views.router_statuses.show.title')
        %li.nav-item
          %a.nav-link{:href => self_overview_path}
            =I18n.t('views.self_overview.show.title')
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link{:href => settings_path}
            =I18n.t('views.settings.index.title')
        %li.nav-item
          =link_to I18n.t('general.logout'), destroy_user_session_path, :method => 'delete', class: 'nav-link'
    -else
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => new_session_path(:user)}
            =I18n.t('general.login')

