%section.sidebar
  %ul.sidebar-menu{"data-widget" => "tree"}
    %li
      %a{:href => root_path}
        %i.fa.fa-line-chart
        %span Dashboard
    %li.active.treeview
      %a{:href => "#"}
        %i.fa.fa-dashboard
        %span Simulator
        %span.pull-right-container
          %i.fa.fa-angle-left.pull-right
      %ul.treeview-menu
        %li.active
          %a{:href => simulator_path}
            %i.fa.fa-circle-o.text-red
            =I18n.t('views.simulators.show.title')
        %li
          %a{:href => self_overview_path}
            %i.fa.fa-circle-o.text-yellow
            =I18n.t('views.self_overview.show.title')
        %li
          %a{:href => conflicts_path}
            %i.fa.fa-circle-o.text-green
            =I18n.t('views.conflicts.index.title')
        %li
          %a{:href => payload_roas_path}
            %i.fa.fa-circle-o.text-aqua
            =I18n.t('views.payload_roas.index.title')
    %li.header DETAILS
    %li
      %a{:href => data_sources_path}
        %i.fa.fa-database
        %span=I18n.t('views.data_sources.index.title')
    %li
      %a{:href => router_status_path}
        %i.fa.fa-signal
        %span=I18n.t('views.router_statuses.show.title')
    %li.header SETTINGS
    %li
      %a{:href => settings_path}
        %i.fa.fa-cog
        %span=I18n.t('views.settings.index.title')
