-provide(:subtitle,I18n.t('views.conflicts.index.title'))

#conflicts_index
  %section
    .row
      .col
        %h1=I18n.t('views.conflicts.index.title')
  %section
    .row
      .col-12.col-lg-6
        .row
          .col
            %h3=I18n.t('views.conflicts.index.analyzed_conflicts.title')
        .row
          .col.text-right.margin-bottom-2
            .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
              %label.btn.btn-secondary.btn-sm.active
                %input{:autocomplete => "off", :checked => "checked", :name => "route_validity", :type => "radio", 'data-value' => 'is_valid'}/
                =I18n.t('views.conflicts.index.analyzed_conflicts.options.valid')
              %label.btn.btn-secondary.btn-sm
                %input{:autocomplete => "off", :name => "route_validity", :type => "radio", 'data-value' => 'invalid'}/
                =I18n.t('views.conflicts.index.analyzed_conflicts.options.invalid')
              %label.btn.btn-secondary.btn-sm
                %input{:autocomplete => "off", :name => "route_validity", :type => "radio", 'data-value' => 'unknown'}/
                =I18n.t('views.conflicts.index.analyzed_conflicts.options.unknown')
        .row
          .col.text-right
            %table#validated-roas-verified-announcements.table.table-striped{'data-source': smart_validator_db_validated_roas_verified_announcements_path(format: :json), 'data-modal-title' => I18n.t('views.analyzed_announcements.index.title') }
              %thead
                %tr
                  %th=I18n.t('general.id')
                  %th=I18n.t('activerecord.attributes.smart_validator_db.announcement.asn')
                  %th=I18n.t('activerecord.attributes.smart_validator_db.announcement.prefix')
                  %th
              %tbody
      .col-12.col-lg-6
        %section
          .row
            .col
              %h3=I18n.t('views.conflicts.index.filtered.title')
              =render 'shared/validated_roas_table', id: 'filtered-validated-roas-table', source: smart_validator_db_validated_roas_path(format: :json, scope: :filtered)
        %section
          .row
            .col
              %h3=I18n.t('views.conflicts.index.whitelisted.title')
              =render 'shared/validated_roas_table', id: 'whitelisted-validated-roas-table', source: smart_validator_db_validated_roas_path(format: :json, scope: :whitelisted)
